DB_CONNECTION=sqlite
DB_DATABASE=../api/database/database.sqlite

VIDEO_DOWNLOAD_DIR=../api/storage/app/public/videos
VIDEO_DOWNLOADER_LOG_LEVEL=INFO
VIDEO_DOWNLOADER_TRANSCODE_FOR_APPLE_TV=false
VIDEO_DOWNLOADER_YTDLP_NODE_PATH=
VIDEO_DOWNLOADER_YTDLP_COOKIE_FILE=
VIDEO_DOWNLOADER_YTDLP_COOKIES_FROM_BROWSER=
