.venv/
__pycache__/
*.py[cod]
*.pyd
*.so
.idea

.Python
.python-version

.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.tox/
.nox/
.env

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.ipynb_checkpoints/

downloads/

cookies.txt
